<h1 class="hotel-show-title">All users</h1>

<ul id="user-list">
  <% @users.each do |user| %>
    <div>
       <li>Username: <%= user.name %></li> 
       <li>Email: <%= user.email %></li>
       <li><%= link_to "Profile", user_path(user) %> <br> -------------------------------------------------------
       </li>
     </div>
   <% end %>
 </ul>


 <div id="loadMore">Load more</div>

 <script type="text/javascript">

  $(document).ready(function () {
    size_li = $("#user-list li").size();
    x=6;
    $('#user-list li:lt('+x+')').show();
    $('#loadMore').click(function () {
        x = (x+6 <= size_li) ? x+6 : size_li;
        $('#user-list li:lt('+x+')').show();
    });
  });

 </script>


