<h1>All Reservations:</h1>
 <h2><%= @user.name %><h2>
 <ul>
 <% @user.reservations.each do |reservation| %>
  <li><%= reservation.try(:check_in).try(:strftime, "%A, %B %d, %Y") %></li>
  <li><%= Hotel.find_by_id(reservation.hotel_id).name %></li>
<% end %>
</ul>


