/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.enlarge {
  margin-left: 20%;
 -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

#index_table th {
  font-size: 1.8em;
  font-family: cursive;
  margin-right: 20px;
}


#index_table td {
  font-size: 1.2em;
}

#index_table thead {
  display: inline-block;
  left: 390px;
  position: relative;
}

.hotel_image {
  box-shadow: 8px 8px 20px #888;
}

#header {
  margin: 0;
  height: 80px;
  background: #304352; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #304352 , #d7d2cc); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #304352 , #d7d2cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header ul {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
}


.header-text:hover {
  background-color: #727189;
}

.header-text {
  font-size: 1.4em;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #000;
  padding: 8px;
  float: left;
  background-color: #fff;
}

.header-text:visited {
  color: #000080;
}

.header-text:hover {
  color: #990000;
}

#header p {
  margin: 0;
  padding: 0;
  margin-left: 30%;
  color: #f2f2f2;
  font-family: "Comic Sans MS";
  font-size: 2em;
}

body {
  margin-top: 0;
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}

#header #menu {
  padding-top: 17px;
}

.hotel-show-title {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 3em;
  text-align: center;
  color: #383843;
}

#contact {
  display: block;
  float: left;
  margin-right: 25px;
}

#contact h2 {
  margin-left: 0;
  text-decoration: underline;
}

#show-image {
  display: block;
}

.container {
  position: absolute;
  left: 19%;
  right: 0;
}

.page-menu ul {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.page_menu_text {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  border: 1px solid #000;
  padding: 8px;
  margin: 5px;
  float: left;
  border-radius: 25px;
  background-color: #343441;
}

.page_menu_text:hover {
  background-color: white;
  color: #343441;
}

.page-menu {
  height: 50px;
}

.crud-opt {
  border: 1px solid #000;
  padding: 8px;
  border-radius: 25px;
  background-color: #343441;
  color: #fff;
  text-decoration: none;
}

.crud-opt:hover {
  background-color: white;
  color: #343441;
}

.home-menu ul {
  list-style-type: none;
  text-align: center;
}

.home-menu ul li {
  width: 300px;
}

.home-item {
  font-size: 1.4em;
  text-decoration: none;
  display: block;
  border: 1px solid #000;
  padding: 8px;
  background-color: #9a9a9a;
  color: #e2e2e2;
}

.home-item:hover {
  background-color: #e2e2e2;
  color: #9a9a9a;
}

.home-menu h1, h2 {
  margin-left: 45px;
}

.border-bottom tr {
  border-bottom: 1px solid #000;
  margin-bottom: 25px;
}

table {
  border-collapse: collapse;
}

#res-table {
  border-collapse: separate;
}

.hotel-text {
  color: #383843;
  font-size: 1.1em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.profile {
  margin-left: 60px;
}

#res-table td {
  display: none;
}

#loadMore {
  font-size: 1.3em;
  border: 1px solid #000;
  display: inline-block;
  padding: 8px;
  border-radius: 25px;
  background-color: #8C1613;
  color: #fff;
  margin-left: 300px;
}

#loadMore:hover {
  background-color: #0C3972;
  cursor: pointer;
}











