<div class="page-menu">
  <%= link_to "View All Hotels", hotels_path, class:"page_menu_text" %> <br><br>
  <h1>Create a new hotel</h1>
</div>

<br><br><br>

<%= render 'hotel' %>


<div id="hotelResult">
  <h2 id="hotelName"></h2>
  <p id="hotelPhone"></p>
  <p id="hotelAddress"></p>
  <p id="hotelCost"></p>
  <p id="hotelAge"></p>
  <p id="hotelNights"></p>
  <p id="hotelGuests"></p>
 
</div>

<!-- How can I get my image to show up here? -->
<script type="text/javascript" charset="utf-8">
  $(function() { 
  $('form').submit(function(event) {
    event.preventDefault();

    var values = $(this).serialize();

    var posting = $.post('/hotels', values);

    posting.done(function(data) {
      var hotel = data["hotel"];
      $("#hotelName").text(hotel["name"]);
      $("#hotelPhone").text(hotel["phone_number"]);
      $("#hotelAddress").text(hotel["address"]);
      $("#hotelCost").text(hotel["cost"]).val();
      $("#hotelAge").text(hotel["min_age"]).val();
      $("#hotelNights").text(hotel["min_nights"]).val();
      $("#hotelGuests").text(hotel["max_guests"]).val();
    });
   });
  });

</script>





















